@font-face {
    font-family: "iconfont"; /* Project id 3022401 */
    src: url("//at.alicdn.com/t/font_3022401_ylhg638l65.woff2?t=1639633236097") format("woff2"),
        url("//at.alicdn.com/t/font_3022401_ylhg638l65.woff?t=1639633236097") format("woff"),
        url("//at.alicdn.com/t/font_3022401_ylhg638l65.ttf?t=1639633236097") format("truetype");
}
[class*="cc-icon"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cc-icon-guanbi:before {
    content: "\e600";
}

.cc-icon-iconfonticon:before {
    content: "\e627";
}

.cc-icon-iconfonticon3:before {
    content: "\e613";
}

.cc-icon-iconfonticon5:before {
    content: "\e615";
}

.cc-icon-iconfonticonfontzhifubao:before {
    content: "\e612";
}

.cc-icon-iconfonticonditu:before {
    content: "\e61b";
}

.cc-icon-iconfonticonfonttencentweibo:before {
    content: "\e622";
}

.cc-icon-iconfonticonqq:before {
    content: "\e623";
}

.cc-icon-iconfonticonfontshuaxin1:before {
    content: "\e626";
}

.cc-icon-iconfonticonfontriyongbaihuo:before {
    content: "\e631";
}

.cc-icon-iconfonticonfontsousuo1:before {
    content: "\e62f";
}

.cc-icon-iconfontyouhuiquan:before {
    content: "\e628";
}

.cc-icon-iconfontriyongbaihuo:before {
    content: "\e62c";
}

.cc-icon-iconfontphone:before {
    content: "\e634";
}

.cc-icon-iconfontshumajiadian:before {
    content: "\e63a";
}

.cc-icon-iconfontmeizhuangrihua:before {
    content: "\e63b";
}

.cc-icon-iconfonthuangguan:before {
    content: "\e63c";
}

.cc-icon-iconfontshipin:before {
    content: "\e63d";
}

.cc-icon-iconfonthuagongyuanliao:before {
    content: "\e63e";
}

.cc-icon-iconfontwujingongju:before {
    content: "\e641";
}

.cc-icon-iconfontxiebaopeishi:before {
    content: "\e644";
}

.icon-iconfontyiqiyibiao:before {
    content: "\e646";
}

.cc-icon-iconfontyundonghuwai:before {
    content: "\e647";
}

.cc-icon-iconfontzhaomingdianzi:before {
    content: "\e648";
}

.cc-icon-iconfontgongyichongwu:before {
    content: "\e649";
}

.cc-icon-iconfontfuzhuangneiyi:before {
    content: "\e64b";
}

.cc-icon-iconfontfuwushichang:before {
    content: "\e64d";
}

.cc-icon-iconfont02fuzhi:before {
    content: "\e689";
}

.cc-icon-chakan:before {
    content: "\e61a";
}

.cc-icon-iconfont8:before {
    content: "\e608";
}

.cc-icon-guanbi1:before {
    content: "\e64a";
}
